html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;

    /* Native App Feel */
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

/* Prevent image dragging */
img {
    -webkit-user-drag: none;
    user-drag: none;
    pointer-events: none;
    /* Optional: completely ignores mouse events if clicking isn't needed */
}

/* If you need to click images (e.g. buttons), use this instead: */
/* img { -webkit-user-drag: none; } */

/* Re-enable selection for inputs */
input,
textarea {
    user-select: text;
    -webkit-user-select: text;
    cursor: auto;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}